<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Información</title>
		<meta lang="es"></meta>
		<meta charset="UTF-8"></meta>
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="/css/Bootstrap/bootstrap.min.css">
		
		<!-- Personal CSS -->
		<link rel="stylesheet" href="/css/main.css">
		<link rel="icon" type="image/ico" href="img/favicon.ico">
		<script type="text/javascript">
			function changePage(url){
				 window.location.href =url;
			}	
		</script>
	</head>
	<body>
	
		<button onclick="changePage('/')" class="btn btn-warning">Volver</button>		
		<h1>Información</h1>
		<p>Esta es una página estandar de información</p>
	
		<!-- Bootstrap -->
		<script type="text/javascript" src="/css/Bootstrap/jquery-3.5.1.min.js"></script>
		<script type="text/javascript" src="/css/Bootstrap/popper.min.js"></script>
		<script type="text/javascript" src="/css/Bootstrap/bootstrap.min.js"></script>
	
	</body>
</html>